{
    "semi": true,
    "singleQuote": false,
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 140,

    "overrides": [
        {
            "files": "*.{json,yml}",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
